:root {
  --color-primary: #000000;
  --color-secondary: #666666;
}

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-boxs;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #ffffff;
  color: #111111;
}
