/* src/styles/Header.module.css */
.mainHeader {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    background-color: rgb(226, 220, 220);
  }
  
  

  .navigation {
  
  }

  .navigation ul {
    gap: 6px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }

  .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
  }

  .buttonLink {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
 
  